<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguGoodsTinyMapper">

    <select id="selItemsForList" resultType="com.opentae.data.mall.beans.ItemForList">
        SELECT a.goods_id as goodsId,a.pic_url as picUrl,a.title,a.store_id as storeId,
        a.pi_price_string as piPriceString,b.shop_num as storeNum,c.market_name as market
        FROM shigu_goods_tiny_${website} a,shigu_shop b,shigu_market c
        where a.store_id=b.shop_id AND a.parent_market_id=c.market_id AND
        a.goods_id IN
        <foreach collection="goodsIds" index="index" item="item" open="("
                 separator="," close=")">
        #{item}
        </foreach>

    </select>

    <select id="selSoldItemsForList" resultType="com.opentae.data.mall.beans.ItemForList">
        SELECT a.goods_id as goodsId,a.pic_url as picUrl,a.title,a.store_id as storeId,
        a.pi_price_string as piPriceString,b.shop_num as storeNum,c.market_name as market
        FROM shigu_goods_soldout_${website} a,shigu_shop b,shigu_market c
        where a.store_id=b.shop_id AND a.parent_market_id=c.market_id AND
        a.goods_id IN
        <foreach collection="goodsIds" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selForSee" resultType="com.opentae.data.mall.beans.ItemForList">
        select a.goods_id as goodsId,a.pic_url as picUrl,a.title,a.store_id as storeId,
        a.pi_price_string as piPriceString,d.shop_num as storeNum,c.market_name as market
        from shigu_goods_tiny_${website} a,goods_count_forsearch b,shigu_market c,shigu_shop d
        where a.goods_id=b.goods_id and a.store_id=#{storeId} and a.parent_market_id=c.market_id and a.store_id=d.shop_id
        ORDER BY b.up_man desc limit 0,3
    </select>

    <select id="countShopStyleGoods" resultType="com.opentae.data.mall.multibeans.ShopStyleGoodsAggrBean">
        SELECT b.parent_style_id parentStyleId,count(b.goods_id) styleGoodsCount
        FROM shigu_goods_tiny_${website} a, goods_count_forsearch b
        WHERE a.store_id = #{shopId} AND b.goods_id = a.goods_id
        and b.parent_style_id in
        <foreach collection="parentStyleIds" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        GROUP BY b.parent_style_id
    </select>

    <select id="selShopStyleGoods" resultType="com.opentae.data.mall.multibeans.GoodsStyleInfoBean">
        SELECT a.goods_id goodsId, a.title title, a.pic_url imgsrc, b.style_id styleId
        FROM shigu_goods_tiny_${website} a, goods_count_forsearch b
        WHERE a.store_id = #{shopId} AND b.goods_id = a.goods_id and b.parent_style_id = #{parentStyleId}
        <if test="null != ignoredGoodsIds and ignoredGoodsIds.size > 0">
            AND a.goods_id NOT IN
            <foreach collection="ignoredGoodsIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY a.created DESC
        LIMIT #{startIndex},#{endIndex}
    </select>

    <insert id="saveCreated" parameterType="com.opentae.data.mall.beans.ShiguGoodsTinyCreatedQz">
        INSERT INTO shigu_goods_tiny_created_qz(goods_id,old_created) VALUES (#{goodsId},#{oldCreated})
    </insert>

    <update id="updateCreated">
        UPDATE shigu_goods_tiny_${webSite} SET created=#{created} WHERE goods_id=#{goodsId}
    </update>

    <update id="update">
        UPDATE shigu_goods_tiny_created_qz SET gmt_modif=#{gmtModif} WHERE goods_id=#{goodsId}
    </update>
</mapper>