<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguRebateGoodsMapper" >
    <update id="selRebateGoodsByType">
        select b.goods_id id, b.title title,b.pic_url imgsrc, b.pi_price piPrice,b.store_id shopId
        from shigu_rebate_goods a, shigu_goods_tiny_hz b
        where goods_tab_id = #{typeId} and goods_status = 1
        and a.goods_id = b.goods_id
        limit #{fromSize},#{pageSize}
	</update>
</mapper>