<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguShopMapper" >



	<!-- 商戶COUNT -->
	<select id="selectShopCountByBo" resultType="int">
		SELECT
		count(s.shop_id)
		FROM
		shigu_shop s left join  member_user u on s.user_id = u.user_id
		inner join shigu_market m on m.market_id = s.floor_id
		left join taobao_session_map mp on mp.nick = s.tb_nick
		WHERE
		1 = 1
		<if test="website!=null and website!=''">
			AND s.web_site = #{website}
		</if>
		<if test="userName!=null and userName!=''">
			AND u.user_name = #{userName}
		</if>
		<if test="userId!=null">
			AND s.user_id = #{userId}
		</if>
		<if test="marketId!=null">
			AND s.market_id = #{marketId}
		</if>
		<if test="floorId!=null">
			AND s.floor_id = #{floorId}
		</if>
		<if test="shopId!=null">
			AND s.shop_id = #{shopId}
		</if>
		<if test="taobaoUrl!=null and taobaoUrl!=''">
			AND s.taobao_url = #{taobaoUrl}
		</if>
		<if test="shopName!=null and shopName!=''">
			AND s.shop_name = #{shopName}
		</if>
		<if test="shopNum!=null and shopNum!=''">
			AND s.shop_num = #{shopNum}
		</if>
	</select>


	<select id="selShopNumAndMarkets" resultType="com.opentae.data.mall.beans.ShopNumAndMarket">
		select a.shop_num as shopNum,a.shop_id as shopId,b.market_name as market from shigu_shop a,shigu_market b
		where a.market_id=b.market_id and a.shop_id in
		<foreach collection="shopIdList" item="item" open="("
				 separator="," close=")">
			#{item}
		</foreach>
	</select>


	<select id="selMarketInfo" resultType="com.opentae.data.mall.beans.ShopNumAndMarket">
		select a.shop_id as shopId,a.shop_num as storeNum,b.market_name as market from shigu_shop a,shigu_market b
		where a.market_id = b.market_id and a.shop_id = ${shopId}
	</select>


    <select id="qzIndexCount" resultType="com.shigu.seller.vo.WeekReadDataVO">
        SELECT
            t1.goods_id goodsId,
            t1.pic_url imgSrc,
            t1.title,
            t1.click + (ifnull(t2.virtual_clicks, 0)) readNum
        FROM
            (
                SELECT
                    t2.goods_id,
                    t1.pic_url,
                    t1.title,
                    t2.click
                FROM
                    (
                        SELECT
                            goods_id,pic_url,title
                        FROM
                            shigu_goods_tiny_${webSite}
                        WHERE
                            store_id = ${shopId}
                        UNION ALL
                            SELECT
                                goods_id,pic_url,title
                            FROM
                                shigu_goods_soldout_${webSite}
                            WHERE
                                store_id = ${shopId}
                    ) t1,
                    goods_count_forsearch t2
                WHERE
                    t1.goods_id = t2.goods_id
            ) t1
        LEFT JOIN virtual_flow t2 ON t1.goods_id = t2.goods_id
        ORDER BY
            readNum DESC
        limit ${num}
    </select>

    <select id="qzIndexCountForDay" resultType="com.shigu.seller.vo.DataListVO">
        SELECT
            t2.`day` text,
            count(*) `value`
        FROM
            (
                SELECT
                    goods_id
                FROM
                    shigu_goods_tiny_${webSite}
                WHERE
                    store_id = ${shopId}
                UNION ALL
                    SELECT
                        goods_id
                    FROM
                        shigu_goods_soldout_${webSite}
                    WHERE
                        store_id = ${shopId}
            ) t1,
            goods_bogus_records t2
        WHERE
            t1.goods_id = t2.goods_id
        AND t2.`day` in(${days})
        GROUP BY
            t2.`day`
    </select>

</mapper>