<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguGoodsTodayMapper">

    <insert id="save">
        INSERT INTO shigu_goods_today(user_id,num,created) VALUES (#{userId},#{num},#{created})
    </insert>

    <update id="update">
        UPDATE shigu_goods_today SET num = #{num}
         <if test="created!=null and created !=''">
             ,created=#{created}
         </if>
         WHERE id=#{id}
    </update>

</mapper>