<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.DiscusRecordMapper" >

	<!-- 查询店铺评分 -->
	<select id="selectShopDiscusRecord" resultType="com.opentae.data.mall.beans.DiscusRecord">
		SELECT
			r.user_id,
			r.title,
			r.store_id,
			r.record_id,
			r.pics,
			r.msg_context,
			r.do_location,
			r.created_time,
			u.user_name,
			s.score_num
		FROM
			discus_record r,
			discus_score s,
			member_user u
		WHERE
			r.record_id = s.ds_id
		AND r.user_id = u.user_id
		AND r.store_id = #{shopId}
		ORDER BY r.created_time DESC
		limit #{startRows},#{pageSize}
	</select>

	<!-- 查询店铺评分COUNT -->
	<select id="selectShopDiscusRecordCount" resultType="int">
		SELECT
			count(r.user_id)
		FROM
			discus_record r,
			discus_score s,
			member_user u
		WHERE
			r.record_id = s.ds_id
		AND r.user_id = u.user_id
		AND r.store_id = #{shopId}
	</select>

</mapper>