<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguOuterFloorMapper" >

	<!-- 查找楼层列表 BY IDS -->
	<select id="selFloorListByIds" resultType="com.opentae.data.mall.beans.ShiguOuterFloor">
		SELECT
			s.*
		FROM
			shigu_outer_floor s
		WHERE
			s.outer_floor_id IN
		<foreach collection="floorIds" item="item" open="("
				 separator="," close=")">
			#{item}
		</foreach>
		order by sort_order ASC
	</select>



</mapper>