<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguFlickrMapper" >
    <select id="countFlickrPicture" resultType="java.lang.Integer">
        select count(1) from shigu_flickr_picture sfp where sfp.f_id=#{fId} AND sfp.pic_status=#{status} GROUP BY sfp.f_id
    </select>

    <resultMap id="Flickr" type="com.shigu.main4.vo.FlickrShow">
        <id property="fId" column="f_id"/>
        <result property="name" column="f_name"/>
        <result property="cover" column="f_cover"/>
        <result property="number" column="count(1)"/>
        <result property="createTime" column="create_time"/>
        <result property="clicks" column="clicks"/>
    </resultMap>
    <select id="selectFlickrByShop" resultMap="Flickr">
        select sf.f_name,sf.f_id,sf.create_time,sf.f_cover,sf.clicks,count(1) from
        shigu_flickr sf
        LEFT JOIN shigu_flickr_picture sfp ON sf.f_id=sfp.f_id
        <if test="shopId!=null">
        LEFT JOIN (SELECT flickr_store_id FROM shigu_flickr_shop WHERE relevancy_shop_id = #{shopId})AS sfs ON sf.store_id = sfs.flickr_store_id
        </if>
        where
        <if test="cPid!=null">
            sf.c_pid=#{cPid} AND
        </if>
        <if test="cId!=null">
            sf.c_id=#{cId} AND
        </if>
        <if test="shopId!=null">
            sf.store_id=sfs.flickr_store_id AND
        </if>
        <if test="webSite!=null and webSite!=''">
            sf.web_site=#{webSite} AND
        </if>
        sf.f_status=#{status} AND sfp.pic_status=1 GROUP BY sf.f_id LIMIT #{start}, #{size}
    </select>

    <resultMap id="Flickrshow" type="com.shigu.main4.vo.FlickrHomeVo">
        <id column="f_id" property="id"/>
        <result column="f_name" property="title"/>
        <result column="create_time" property="created"/>
        <result column="f_cover" property="cover"/>
        <result column="clicks" property="readCount"/>
        <result column="count( 1 )" property="picCount"/>
        <result column="sId" property="shopId"/>
        <result column="shop_num" property="shopNo"/>
        <result column="market_name" property="marketName"/>
    </resultMap>
    <select id="selectFlickrByCategory" resultMap="Flickrshow">
        SELECT
        sf.f_name,
        sf.f_id,
        DATE_FORMAT( sf.create_time, '%Y-%m-%d' ) AS create_time,
        sf.f_cover,
        sf.clicks,
        count( 1 ),
        sfs.sId,
        sfs.shop_num,
        sm.market_name
        FROM
        shigu_flickr sf
        LEFT JOIN shigu_flickr_picture sfp ON sf.f_id = sfp.f_id
        LEFT JOIN (
        SELECT
        a.relevancy_shop_id AS sId,
        a.flickr_store_id,
        b.shop_num,
        b.market_id
        FROM
        shigu_flickr_shop AS a
        LEFT JOIN ( SELECT shop_id, shop_num, market_id FROM shigu_shop ) b ON b.shop_id = a.relevancy_shop_id
        WHERE
        a.relevancy_shop_id > 0
        ) sfs ON sfs.flickr_store_id = sf.store_id,
        ( SELECT market_id, market_name FROM shigu_market ) sm
        WHERE
        <if test="cPid!=null">
            sf.c_pid=#{cPid} AND
        </if>
        <if test="cId!=null">
            sf.c_id=#{cId} AND
        </if>
        <if test="webSite!=null and webSite!=''">
            sf.web_site=#{webSite} AND
        </if>
         sm.market_id=sfs.market_id  AND sfp.pic_status=1 AND sf.f_cover != '' AND sf.f_status=#{status} GROUP BY sf.f_id LIMIT #{start}, #{size}
    </select>

    <resultMap id="FlickrDetails" type="com.shigu.main4.vo.FlickrDetails">
        <id property="fId" column="f_id"/>
        <result property="name" column="f_name"/>
        <result property="desc" column="f_desc"/>
        <result property="number" column="number"/>
        <result property="picUrls" column="urls"/>
        <result property="storeId" column="store_id"/>
    </resultMap>
    <select id="selectFlickrPictureByfId" resultMap="FlickrDetails">
        SELECT sf.f_id,sf.store_id,sf.f_id,sf.f_name,COUNT(sfp.pic_url) AS number,sf.f_desc,GROUP_CONCAT(sfp.pic_url) AS urls
        FROM shigu_flickr AS sf LEFT JOIN shigu_flickr_picture AS sfp ON sf.f_id=sfp.f_id
        WHERE
        <if test="fId!=null">
        sf.f_id=#{fId} AND
        </if>
        sf.f_status=#{status}
    </select>

    <select id="countFlickr" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shigu_flickr WHERE f_status=#{status}
    </select>

    <select id="selectPicTwo" resultType="java.lang.String">
        SELECT pic_url FROM shigu_flickr_picture WHERE f_id=#{fId} AND pic_status=#{status} LIMIT 2
    </select>

    <select id="isRelevancyShop" resultType="java.lang.Integer">
        SELECT
            COUNT( 1 )
        FROM
            shigu_flickr_shop
        WHERE
            sfs_status = 1
            AND relevancy_shop_id = #{shopId}
        GROUP BY
	        relevancy_shop_id
    </select>
</mapper>