<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguOuterMarketMapper" >

	<!-- 查询列表 -->
	<select id="selOuterMarketListByBo" resultType="com.opentae.data.mall.beans.ShiguOuterMarket">
		SELECT
			m.*,
			sm.market_name as point_market_name
		FROM
			shigu_outer_market m
			left join shigu_market sm on sm.market_id = m.market_id
		WHERE
			m.web_site = #{website}
		ORDER BY
			m.sort_order ASC
	</select>

	<!-- 查询记录数 -->
	<select id="selOuterMarketCountByBo" resultType="int">
		SELECT
			count(m.rule_id)
		FROM
			shigu_outer_market m
		WHERE
			m.web_site = #{website}
	</select>

</mapper>