<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguShopApplyMapper" >

	<!-- 店铺入驻列表 -->
	<select id="selectShopApplyListByBo" resultType="com.opentae.data.mall.beans.ShiguShopApply">
		SELECT
			a.*,
			m.parent_market_name
		FROM
			shigu_shop_apply a,
			shigu_market m
		WHERE
			a.market_id = m.parent_market_id
		AND a.floor_id = m.market_id
		<if test="applyId !=null">
			AND a.ruzhu_id  = #{applyId}
		</if>
		<if test="shopNum!=null and shopNum!=''">
			AND a.shop_num = #{shopNum}
		</if>
		<if test="applyStatus!=null">
			AND a.apply_status = #{applyStatus}
		</if>
		<if test="canExamine!=null">
			AND a.can_examine = #{canExamine}
		</if>
		<if test="website!=null and website!=''">
			AND a.web_site = #{website}
		</if>
		ORDER BY apply_time DESC
		limit #{startRow},#{pageSize}
	</select>


	<!-- 店铺入驻Count -->
	<select id="selectShopApplyCountByBo" resultType="int">
		SELECT
			count(a.ruzhu_id)
		FROM
			shigu_shop_apply a,
			shigu_market m
		WHERE
			a.market_id = m.parent_market_id
		AND a.floor_id = m.market_id
		<if test="applyId !=null">
			AND a.ruzhu_id  = #{applyId}
		</if>
		<if test="shopNum!=null and shopNum!=''">
			AND a.shop_num = #{shopNum}
		</if>
		<if test="applyStatus!=null">
			AND a.apply_status = #{applyStatus}
		</if>
		<if test="canExamine!=null">
			AND a.can_examine = #{canExamine}
		</if>
		<if test="website!=null and website!=''">
			AND a.web_site = #{website}
		</if>
	</select>

</mapper>