<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguShopMapper" >

	<!-- 授权同步信息 -->
	<select id="selectTbAuthSyn" resultType="com.opentae.data.mall.beans.ShiguShop">
		SELECT
			s.*,
			m.fresh_time,
			m.expires_in
		FROM
			shigu_shop s,
			taobao_session_map m
		WHERE
			s.tb_nick = m.nick
		AND s.shop_id = #{shopId}
		ORDER BY m.fresh_time DESC
		limit 1
	</select>

	<!-- 查询店铺给市场 -->
	<select id="selectShopForMarketList" resultType="com.opentae.data.mall.beans.ShiguShop">
		SELECT
			s.*,l.context as shop_tags_contexts
		FROM
			shigu_shop s
		left join (
		select * from shigu_shop_license l where l.license_type = 5 and l.license_failure = 0
		) l on s.shop_id = l.shop_id
		WHERE
			s.shop_status = 0
		AND s.display_in_market = 1
		AND s.floor_id = #{floorId}
	</select>

	<!-- 店铺查询 FOR 市场页展示 -->
	<select id="selectShopListByShopIdsForMarketList" resultType="com.opentae.data.mall.beans.ShiguShop">
		SELECT
			s.*,l.context as shop_tags_contexts
		  FROM shigu_shop s
			left join (
			select * from shigu_shop_license l where l.license_type = 5 and l.license_failure = 0
			) l on s.shop_id = l.shop_id
		WHERE
			s.shop_id in
		<foreach collection="shopIdList" item="item" open="("
				 separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!-- 查询重复域名 -->
	<select id="selectDoaminRepeatById" resultType="Long">
		SELECT
			shop_id
		FROM
			shigu_shop
		WHERE
			1 = 1
		<if test="domain != null and domain!=''">
			and lower(domain) = lower(#{domain})
		</if>
		<if test="shopId != null and shopId!=''">
			and shop_id != #{shopId}
		</if>
		<if test="shopNum!=null and shopNum!=''">
			and lower(shop_num) = lower(#{shopNum})
		</if>
	</select>


	<select id="selShopIdByNumId" resultType="long">
		select store_id from shigu_store_num_show where store_num_id=${storeNumId}
	</select>
</mapper>