<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ActiveDrawRecordMapper" >

	<select	id="selDrawRecordList" resultType="com.opentae.data.mall.beans.ActiveDrawRecord">
		SELECT
			r.*, s.sub_user_name as user_nick,u.login_phone,substring(r.ward,2,1) as s
		FROM
			active_draw_record r,
			member_user u,
		  	member_user_sub s
		WHERE
			r.user_id = u.user_id
	  	and u.user_id = s.user_id
		and s.account_type = 3
		<if test="pemId!=null">
			AND r.pem_id = #{pemId}
		</if>
		<if test="userId!=null">
			AND r.user_id = #{userId}
		</if>
		<if test="ward!=null">
			AND r.ward = #{ward}
		</if>
		<if test="userNick!=null and userNick!=''">
			AND s.sub_user_name = #{userNick}
		</if>
		<if test="type!=null and type == 'ben'">
			AND r.ward != 'A1' AND r.ward != 'B1'
			AND r.draw_status = 3
			AND draw_code is not null
			ORDER BY r.pem_id DESC,s DESC
			LIMIT 80
		</if>
		<if test="startRows != null">
			ORDER BY r.create_time DESC
			limit #{startRows},#{endRows}
		</if>
	</select>

	<select	id="selDrawRecordCount" resultType="int">
		SELECT
			count(r.id)
		FROM
			active_draw_record r,
			member_user u,
			member_user_sub s
		WHERE
			r.user_id = u.user_id
		and u.user_id = s.user_id
		and s.account_type = 3
		<if test="pemId!=null">
			AND r.pem_id = #{pemId}
		</if>
		<if test="userId!=null">
			AND r.user_id = #{userId}
		</if>
		<if test="ward!=null">
			AND r.ward = #{ward}
		</if>
		<if test="userNick!=null and userNick!=''">
			AND s.sub_user_name = #{userNick}
		</if>
	</select>


</mapper>