<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.SpreadEnlistMapper" >

	<select id="romSelectData" resultType="com.opentae.data.mall.beans.SpreadEnlist">
		SELECT t1.enlist_Id ,t1.NAME,t1.telephone,t1.user_Id,t1.draw,t1.activity_Id FROM SPREAD_ENLIST t1
		where t1.activity_Id=${activityId} ORDER BY RAND() LIMIT ${num}
	</select>

	<select id="selEgg" resultType="com.opentae.data.mall.beans.EnlistEgg">
		SELECT a.* from (
		SELECT count(1) as times,sum(t2.price) as money,min(t1.name) as name,min(t1.telephone) as telephone,min(t1.user_id) as user_id,min(t1.shop_id) as shopId
		FROM SPREAD_ENLIST t1,SPREAD_ACTIVITY t2
		where t1.activity_id=t2.activity_id and
		t1.draw=1
		<if test="shopId !=null">
			AND t1.shop_id  = ${shopId}
		</if>
		AND t2.type=0
		GROUP BY t1.shop_id) a
		ORDER BY a.${sort} DESC
		limit ${start},${size}
	</select>

</mapper>