<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ItemProductInsertSkuMapper">
    <insert id="insertGeneratedSkuId" parameterType="com.opentae.data.mall.beans.ItemProductSku" useGeneratedKeys="true" keyProperty="Sku_id">
        INSERT INTO
          item_product_sku(color,size,pid)
        VALUES
          (#{color},#{size},#{pid})
    </insert>
</mapper>