<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguStoreNumShowMapper" >

  <!-- 更新档口信息 -->
  <update id="updateStoreNumByStoreId">
  	UPDATE shigu_store_num_show
  		SET
		  <if test="storeNum!=null and storeNum!=''">
			  store_num = #{storeNum},
		  </if>
	  	last_modify_time = now()
	WHERE
	    store_num_id = store_id
    AND store_id = #{storeId}
  </update>
</mapper>