<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.SpreadAuctShopMapper" >

    <!-- 广告申请列表 -->
    <select id="selectSpreadShopListByBo" resultType="com.opentae.data.mall.beans.SpreadAuctShop">
        SELECT
            sp.*,
            s.shop_num,
            m.market_name
        FROM
          spread_auct_scren sr,
            spread_auct_shop sp,
            shigu_shop s,
            shigu_market m
        WHERE
            sr.id = sp.scren_id
        AND s.shop_id = sp.shop_id
        AND s.market_id = m.market_id
        <if test="shopId!=null">
            AND s.shop_id = #{shopId}
        </if>
        <if test="screnId!=null">
           AND sp.scren_id = #{screnId}
        </if>
        <if test="draw!=null">
            and sp.is_draw = #{draw}
        </if>
    </select>


</mapper>