a:hover{text-decoration:none}.shop-footer{width:100%;background-color:#fff;margin-top:10px}input{outline:0}.title{width:100%;background:#fff;border-bottom:1px solid #eee}.title .title-main{width:1190px;height:75px;margin:0 auto}.title-main div{float:left}.logo-outer{padding-right:20px;border-right:1px solid #eee;height:35px;margin-top:18px}.title-logo{width:105px;height:35px;background:url("../../images/icon.png") -155px -109px no-repeat}.show-down{display:inline-block;width:7px;height:4px;background-position:-28px -93px;background-image:url("http://imgs.571xz.net/mall/default_fitment_logo.jpg");background-repeat:no-repeat;transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s;vertical-align:middle}.shop-information{width:386px;height:58px;padding-top:18px;padding-left:20px;margin-left:-1px}.shop-logo{width:37px;height:37px;background:url("../../images/icon.png") -287px -103px no-repeat}.shop-info div{float:none}.shop-name{font-size:16px;color:#333;margin-left:10px;max-width:180px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-ms-text-overflow:ellipsis}.hg,.jg,.zs,.xx{min-height:20px;height:20px;overflow:hidden;margin-top:2px;margin-left:10px}.hg i,.jg i,.zs i,.xx i{float:left;margin-right:2px;width:16px;height:16px}.hg i{background:url(https://gtms03.alicdn.com/tps/i4/TB17JRyFVXXXXXhXpXXxPfUFXXX-16-16.gif) no-repeat}.jg i{background:url(https://gtms04.alicdn.com/tps/i2/TB188JyFVXXXXcoXXXXxPfUFXXX-16-16.gif) no-repeat}.zs i{background:url(https://gtms02.alicdn.com/tps/i3/TB1KxNsFVXXXXcKXpXXxPfUFXXX-16-16.gif) no-repeat}.xx i{background:url(https://img.alicdn.com/newrank/b_red_1.gif) no-repeat}.shop-icon{margin-top:-2px}.iwork{display:inline-block;width:40px;height:10px}.shop-icon a{vertical-align:middle;margin-left:8px}.iqq{display:inline-block;width:20px;height:20px}.iqq img{margin-top:3px}.shop-icon i.show-down{margin-left:15px}.shop-information.shop-hover .shop-msg{display:block}.shop-information .shop-msg{display:none;position:absolute;width:405px;height:260px;border:1px solid #f2ebe7;z-index:1000;background:#f8f8f8;margin-left:-21px;margin-top:57px;border-top:1px solid #EEE}.shop-information .shop-msg div{float:none}.shop-information .shop-msg .shop-msg-con{padding:10px;color:#666}.shop-information .shop-msg .shop-msg-con-main label{color:#999;float:left;width:80px;text-align:right}.shop-information .shop-msg .shop-msg-con-main li{height:26px;line-height:26px}.shop-information .shop-msg-con-bottom{border-top:1px solid #EEE;padding-top:20px;margin-top:20px}.shop-information .shop-msg-con-bottom div{float:left;margin-right:10px}.shop-information .shop-msg-con-bottom a{display:inline-block;border-radius:2px;line-height:30px;height:30px;color:#666;text-align:center;cursor:pointer;background:url(../../images/btn_bg.png)}.shop-information .shop-msg-con-bottom .smcb-btn2{margin-left:25px}.shop-information .shop-msg-con-bottom .smcb-btn2 a{width:80px;background-position:-3px -3px}.shop-information .shop-msg-con-bottom .smcb-btn1 a{width:80px;background-position:-3px -3px}.shop-information .shop-msg-con-bottom .smcb-btn3 a{width:153px;background-position:-85px -3px}.shop-msg-con-bottom .smcb-btn3 i{display:inline-block;width:21px;height:21px;background:url("../../images/icon.png") -440px -47px no-repeat;vertical-align:middle}.smt-r-i i{display:inline-block;width:21px;height:21px;background:url("../../images/icon.png") -383px -46px no-repeat;margin:0px; vertical-align: middle}.title .shop-search{float:right;line-height:75px}.shop-search div{float:left}.shop-search .shop-search1 i{display:inline-block;background:url("//www.wsy.com/theme/wsy/images/sousuo1.png");width:16px;height:16px;position:absolute;margin-top:30px;margin-left:10px;cursor:pointer}.shop-search .shop-search1 input{padding:0 0 0 35px;margin-top:21px;width:296px;height:28px;border:2px solid #ddd;border-right:0}.shop-search .shop-search2 a{display:inline-block;width:87px;height:32px;text-align:center;line-height:32px;color:#fff;background:#1c90df;margin-left:-4px}.shop-search .shop-search2 a:first-child{background:#59abed}.small-bgpic{width:100%;height:130px}.edit{width:100%}.main .ovbox{width:1190px;margin:0 auto;position:relative}.edit .nav{width:100%!important;height:31px;background:#404040}.main .mod_item{position:relative;float:left;width:960px;background-color:rgba(123,194,250,0.5);cursor:pointer;margin-right:5px;background-image:repeating-linear-gradient(45deg,transparent,transparent 35px,rgba(255,255,255,0.5) 35px,rgba(255,255,255,0.5) 70px);overflow:hidden}.main .nav .mod_item{border:0;width:100%!important;background:0}.edit .nav-main{height:30px;margin:0 auto;overflow:hidden}.nav-main.clearfix{height:31px;overflow:hidden;width:1190px;margin:0 auto}.nav-main li{float:left;position:relative;font-size:14px;z-index:2}.nav-main a{display:block;color:#fff;padding:0 20px;line-height:31px}.nav-main a:hover{text-decoration:none}
.nav-main a i.show-down{margin-left:5px}.con_bg{width:210px;position:absolute;z-index:999;display:none} .con_bg .con{width:209px;background:#f8f8f8;display:none}.con_bg .con ul.first{width:209px;position:relative} .con_bg .con ul li{width:209px;height:34px;cursor:pointer;white-space:nowrap;background:#f8f8f8;font-size:12px} .con_bg .con ul li.f_con{position:relative;border:1px solid #ddd;margin:0 0 -1px -1px} .con_bg .con ul li.f_con a{padding-left:20px;color:#6d6d6d;display:block;width:149px;line-height:34px;background:#f8f8f8;font-weight:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis} .con_bg .con ul li.f_con a:hover{color:#f60;text-decoration:none} .con_bg .con ul li span{position:absolute;right:15px;top:0;font-size:12px;width:5px;line-height:34px;color:#6d6d6d} .con_bg .con .p_con{width:211px;height:30px;font-size:12px;margin:0 0 -1px -1px} .con_bg .con .p_con div{cursor:pointer;float:left;color:#6d6d6d;display:block;width:69px;line-height:30px;background:#ebebeb;border-left:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;font-weight:normal} .con_bg .con .p_con .bder_n{border-right:1px solid #ddd} .con_bg .con ul li.f_con:hover .sec_con{display:block}.con_bg .con ul li .sec_con{display:none;width:219px;position:absolute;left:208px;top:-1px;background:#f8f8f8;border:1px solid #ddd;border-left:none} .con_bg .con ul li .sec_con ul li a{display:block;padding:0 15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis}.main .mod_item,.edit .nav-main,.nav-main.clearfix{overflow:visible}.sj_main_img{width:100%;height:400px}.sj_main_img div{width:100%;height:400px}.notice{width:1190px;margin:10px auto 0;margin-bottom:10px;background-color:#fff;overflow:hidden}.notice img{max-width:1190px}.sj_main{width:100%;margin-top:10px}.sj_main h2{border-bottom:1px solid #eee;color:#4b4949;font-size:16px;font-weight:400;line-height:40px}.sj_main .price{font-size:20px;color:#ff671d;font-family:arial}.sj_main .price span{font-family:arial;font-size:16px;letter-spacing:4px}.sj_main .price strong{font-style:normal;font-weight:400}.sj_main .ls{font-size:14px}.xb_list,.women_list,.man_list{word-break:break-all;word-wrap:break-word;overflow-x:hidden;overflow:hidden;clear:both;width:1190px;margin:0 auto;background-color:#fff;padding:0 1px}.xb_list ul{margin-right:-26px;overflow:hidden}.xb_list ul li{float:left;width:278px;height:360px;margin:15px 26px 15px 0}.xb_list .sj_list_img{width:280px;height:280px;background:#eee}.xb_list .sj_list_img a{width:280px;height:280px;text-align:center;vertical-align:middle;display:table-cell}.xb_list .sj_list_img img{max-width:280px;max-height:280px;vertical-align:middle;border:0}.xb_list ul li .title{color:#666;height:40px;word-break:break-all;overflow:hidden;padding-top:5px;margin-bottom:3px;border-bottom:0}.xb_list ul li .title a{color:#666}.xb_list ul li .title a:hover{color:#f60;text-decoration:none}.women_list ul{margin-right:-22px;overflow:hidden}.women_list ul li{float:left;width:220px;height:300px;margin:10px 22px 10px 0}.women_list .sj_list_img{width:222px;height:222px;background:#eee}.women_list .sj_list_img a{width:222px;height:222px;text-align:center;vertical-align:middle;display:table-cell}.women_list .sj_list_img img{max-width:222px;max-height:222px;vertical-align:middle;border:0}.women_list ul li .title{color:#666;height:40px;word-break:break-all;overflow:hidden;padding-top:5px;margin-bottom:3px;border-bottom:0}.women_list ul li .title a{color:#666}.women_list ul li .title a:hover{color:#f60;text-decoration:none}.man_list ul{margin-right:-13px;overflow:hidden}.man_list ul li{float:left;width:158px;height:220px;margin:10px 13px 10px 0}.man_list .sj_list_img{width:160px;height:160px;background:#eee}.man_list .sj_list_img a{width:160px;height:160px;text-align:center;vertical-align:middle;display:table-cell}.man_list .sj_list_img img{max-width:160px;max-height:160px;vertical-align:middle;border:0}.man_list ul li .title{color:#666;height:26px;word-break:break-all;overflow:hidden;padding-top:5px;margin-bottom:3px;border-bottom:0}.man_list ul li .title a{line-height:26px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;display:block;color:#666}.man_list ul li .title a:hover{color:#f60;text-decoration:none}.main.clearfix{width:1188px;margin:0 auto;margin-top:10px;background-color:#fff;padding:0 1px}.main-left{width:235px;float:left}.ml-c dl dt{border-bottom:1px solid #ddd;font-size:14px;padding:0 0 10px}.ml-c dl dd{padding:10px 0 0 0}.ml-c dl dd ul li{color:#6d6d6d;font-size:13px;padding:15px 0 0 20px}.ml-c dl dd ul li.mlc-title{color:#242526;font-size:12px;padding:15px 0 0 0;font-weight:700}.mlc-title em{color:#666;border:1px solid #666;display:inline-block;width:12px;height:12px;vertical-align:text-top;line-height:12px;margin-right:5px;text-align:center;cursor:pointer}.ml-c .show-down{margin-top:-3px;background:url("../../images/icon.png") -222px -474px;width:3px;height:5px}.main-right{width:950px;float:right}
.mr-title{width:100%;padding:0 0 10px;border-bottom:1px solid #ddd;font-size:14px}.mr-title a:last-child{float:right;color:#666;font-size:12px}.mr-title .show-down{vertical-align:middle;transform:rotate(180deg);transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s;margin-left:5px}.mr-c .sp_type_nav{border:0;padding:0;width:100%;font-size:12px}.type_section{width:100%;border-bottom:1px #e5e5e5 dotted;padding:25px 0 10px}.s-title{float:left;width:78px}.s-title span{float:left;color:#8d8f90;padding-left:21px}.s-title i{display:inline-block;height:21px;margin-left:-5px;vertical-align:middle;width:21px;background:url(../../images/icon426_01.png) no-repeat scroll}.s-title .selector-iocn06_30 i{background-position:-150px 0}.s-title .selector-iocn06_50011740 i{background-position:-54px 0}.selector-iocn06_16 i{background-position:-170px 0}.selector-iocn06_50008165 i{background-position:0 0}.selector-iocn06_50006843 i{background-position:-27px 0}.selector-iocn06_50010404 i{background-position:-81px 0}.selector-iocn06_50006842 i{background-position:-106px 0}.selector-iocn06_404 i{width:25px;background-position:-197px 8px}.sl-value{width:870px;float:right}.sl-value li{float:left;margin-right:30px;margin-bottom:8px}.sl-value a{color:#666;height:22px;display:block;border-bottom:2px #fff solid}.sl-value a:hover{color:#ff671d;border-bottom:2px #ff671d solid;text-decoration:none}.sl-value .on a{color:#ff671d;border-bottom:2px #ff671d solid}.mr-search{width:100%;height:53px;background:#f7f7f7}.mr-search .search-result{float:left}.search-result a{line-height:53px;margin-left:20px}.search-input{line-height:53px;float:right}.search-input input{width:70px;height:25px;padding:0 5px;margin-right:10px;border:1px #e5e5e5 solid}.search-input button{border:1px solid #8a8c90;margin-right:20px;text-align:center;width:60px;height:25px;line-height:25px;color:#8a8c90;background:#f7f7f7;cursor:pointer}.sort-row{width:100%}.sort-inner{height:45px;border-top:solid 1px #e6eaec;border-bottom:solid 1px #e6eaec}.sort-inner{position:relative;}.sort-inner .sorts{float:left;line-height:45px}.sort-inner .sorts .sort{float:left}.sort-inner .sorts .link{float:left;display:block;height:45px;padding:0 15px;text-decoration:none;color:#6d6d6d}.sort-inner .sorts .first,.sort-inner .sorts .link:hover{position:relative;z-index:1;color:#ff671d}.sort-inner .sorts .has-droplist{position:relative}.sort-inner .sorts .has-droplist .trigger .text{float:left}.icon-btn-arrow-2-h,.icon-btn-prev-2-disable,.icon-btn-next-2,.icon-btn-prev-2,.icon-btn-next-2-disable,.icon-btn-switch-grid,.icon-btn-switch-list,.icon-btn-check-big,.ww-light .ww-online{display:inline-block;font-size:0;background-repeat:no-repeat;background-image:url("../../images/icon.png");background-position:-301px -476px;width:7px;height:4px;margin-left:5px}.sort-inner .sorts .has-droplist .trigger .icon{float:left;margin-top:21px;margin-left:4px}.sort-inner .sorts .droplist{display:none;position:absolute;z-index:2;top:-1px;left:-1px;border:solid 1px #ccc;background:#fff;-webkit-box-shadow:0 3px 3px rgba(0,0,0,.1);-moz-box-shadow:0 3px 3px rgba(0,0,0,.1);box-shadow:0 3px 3px rgba(0,0,0,.1)}.sort-inner .sorts .droplist .sort{float:none;white-space:nowrap}.sorts .droplist .link{border:0;margin-left:0;padding-right:30px}.sort-inner .sorts .has-droplist-hover .droplist{display:block}.goods_list{word-break:break-all;word-wrap:break-word;overflow-x:hidden;overflow:hidden;clear:both;width:990px;margin:0 auto;background-color:#fff}.goods_list_bd{margin-right:-22px;overflow:hidden}.item-c{width:221px;float:left;padding:15px 0;height:320px;overflow:hidden;border-bottom:1px #dadada solid;margin:0 22px 15px 0}.item-c .item{width:100%}.item-c .item .pic{height:221px;width:221px;text-align:center}.item-c .item .pic a{display:table-cell;width:221px;height:221px;vertical-align:middle;text-align:center}.pic a img.lazy{max-height:221px;max-width:221px;vertical-align:middle}.item-c .item .pri-dk{margin-top:8px;position:relative;height:25px}.item-c .item .pri{font-size:20px;color:#ff671d;font-family:arial}.item-c .item .pri span{font-family:arial;font-size:16px;letter-spacing:4px}.item-c .item .pri strong{font-style:normal;font-weight:400}.item-c .item .ls{font-size:14px}.item-c .item .tit{height:40px;display:block;overflow:hidden;text-overflow:initial;margin-top:6px}.item-c .item .tit a{color:#666}.item-c .item .tit a:hover{color:#f60}.item-c .item .btnview{margin-top:6px}.item .btnview .contrast{float:left;padding:0 0 0 12px;position:relative;color:#999;margin-right:10px}.item .btnview i{background:url("../../images/iconall_03.png") no-repeat 0 0}.item .btnview .contrast i{position:absolute;display:block;font-style:normal;left:0;top:6px;width:8px;height:8px;background-position:0 -18px;-webkit-transition:background-position .15s ease-in-out;-moz-transition:background-position .15s ease-in-out;transition:background-position .15s ease-in-out}.item .btnview .contrast:hover{color:#ff671d;text-decoration:none;z-index:1}
.item .btnview .contrast:hover i{background-position:0 0}.item .btnview .sjb i{background-position:-18px -18px}.item .btnview .sjb:hover i{background-position:-18px 0}
/*Ê±¼ä*/
.location {
    float: left;
    height: 38px;
    position: relative;
    color: #666;
}
.location .trigger {
    position: relative;
    width: 89px;
    height: 38px;
    cursor: pointer;
}
.location .trigger .inner {
    position: absolute;
    height: 45px;
    width: 89px;
    text-align: center;
    line-height: 45px;
}
.location .trigger .text {
    display: inline-block;
}
.location .trigger .icon {
    display: inline-block;
    width: 7px;
    height: 4px;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 4px;
}
.location-hover .trigger {
    z-index: 1001;
    background: #fff;
}
.location-hover .trigger .inner {
    top: -1px;
    left: -1px;
    height: 44px;
    line-height: 45px;
    border: solid 1px #e5e5e5;
    border-bottom-color: #fff;
    z-index: 1;
}
.location-hover .trigger .inner {
    line-height: 45px;
}
.location .sections {
    display: none;
    position: absolute;
    left: -1px;
    top: 44px;
    width: 245px;
    border: solid 1px #e5e5e5;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    padding: 10px 16px;
    z-index: 100;
}
.location-hover .sections {
    display: block;
    z-index: 1000;
}
.sections li{float: left;height: 30px;line-height: 30px;width: 50px;}
.sections a{color: #666;}
.sections a:hover{color: #ff671d;text-decoration: underline;}

.sec_date{
    display: none;
    position: absolute;
    left: 173px;
    top: 46px;
    width: 275px;
    height: 45px;
    background: #fff;
    z-index: 99999;
    border: 1px solid #999;
    text-align: center;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
}
.sec_date .cal{
    width:16px;
    height: 16px;
    position:absolute;
    right: -8px;
    top:-10px;
    cursor:pointer;
    background: url("../../images/date_cal.png");
}

.sec_date .date input{
    cursor: pointer;
    width:68px;
    height: 20px;
}
.sec_date .date {
    margin-top: 10px;
}

.sec_date .date button{
    width: 45px;
    display: inline-block;
    background: #159AEF;
    color: #fff;
    border: 1px solid #159AEF;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    vertical-align: top;

}




/*div.shopIcon{margin-top: 30px;}*/
div.shopIcon i{
    cursour:pointer;
    float: left;
    display: inline-block;
    width: 18px;
    height: 20px;
    margin-right: 5px;
    background: url(/theme/wsy/images/shop-icon1.png) no-repeat 0 -2px;
}
div.shopIcon i.icon-h{
    background-position-x: -23px;
}

div.shopIcon i.icon-d{
    background-position-x: -70px;
}
div.shopIcon i.icon-hz{
    background-position-x: -46px;
}

/*{*/
/*display: block;*/
/*overflow: hidden;*/
/*width: 38px;*/
/*height: 38px;*/
/*border-bottom: 1px solid #ebebeb;*/
/*background: #f5f5f5;*/
/*background-color: #f5f5f5;*/
/*background-image: url(/images/backpanel.png);*/
/*background-repeat: no-repeat;*/
/*color: #3c3c3c;*/
/*text-align: center;*/
/*text-decoration: none;*/
/*line-height: 38px;*/
/*cursor: pointer*/
/*}*/

.feedback .go-top {
    display: none;
    border-bottom: 1px solid #ebebeb;
    background-position: 0 0;
    line-height: 750pt
}

.feedback .go-top:hover {
    background-color: #999;
    background-image: none;
    line-height: 1pc
}

.feedback .btn em {
    display: none;
    margin: 3px auto 0;
    width: 24px;
    color: #fff;
    font-style: normal;
    font-size: 9pt;
    line-height: 1pc
}
.feedback .btn:hover em {
    display: block;
    color: #fff
}
.feedback .go-fankui {
    background-position: 0 -38px
}
.feedback .go-fankui:hover {
    background-color: #999;
    background-image: none;
    line-height: 1pc
}