<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.DaifaAfterSaleSubMapper" >

    <!--<select id="getRefundFeeOrder" resultType="java.lang.Long">-->
        <!--SELECT-->
        <!--t1.df_order_id-->
        <!--FROM-->
        <!--daifa_after_sale_sub t1,daifa_after_money_consult t2-->
        <!--WHERE-->
        <!--t1.refund_id = t2.refund_id-->
        <!--AND t1.after_status = 7-->
        <!--AND t2.create_time &lt;= ${date}-->
    <!--</select>-->


</mapper>