<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ItemOrderSubMapper" >

	<update	id="addRefundMoney">
		UPDATE item_order_sub set refund_money=refund_money+${money} where soid=${soid}
	</update>

	<resultMap id="orderSubMoney" type="com.shigu.main4.order.vo.OrderSubMoney">
		<result property="num" column="num"/>
		<result property="price" column="price"/>
	</resultMap>

	<select id="selectOrderSubByOid" resultMap="orderSubMoney">
		SELECT num,price FROM item_order_sub WHERE oid=#{oid}
	</select>

	<select id="selectRefundByOid" resultType="java.lang.Long">
		SELECT SUM(refund_money) AS refund_money FROM item_order_refund WHERE oid=#{oid} AND `status` = 2
	</select>

	<select id="selectUserIdByOid" resultType="java.lang.Long">
		SELECT user_id FROM item_order WHERE oid=#{oid} AND order_status=4
	</select>

</mapper>