<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ItemOrderMapper" >

	<update	id="addRefundMoney">
		UPDATE item_order set refund_fee=refund_fee+${money} where oid=${oid}
	</update>

	<select id="getOidListByOrderStatus" resultType="java.lang.Long">
		SELECT oid FROM item_order AS io
		WHERE io.user_id=#{userId} AND io.create_time <![CDATA[>=]]> #{createTime}AND io.order_status=1
	</select>

	<select id="getRidListByOrderStatus" resultType="java.lang.Long">
		SELECT opr.rid FROM order_pay_relationship AS opr  LEFT JOIN item_order AS io ON io.oid=opr.oid
		WHERE io.user_id=#{userId} AND io.create_time <![CDATA[>=]]> #{createTime} AND io.order_status > 1
	</select>

    <select id="getSenderIdByRefundId" resultType="java.lang.Long">
        select t2.sender_id from item_order_refund t1,item_order t2 where t1.refund_id=${refundId} and t1.oid=t2.oid
    </select>
</mapper>