<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguOrderCashbackMapper">

   <update id="updateCashback" parameterType="com.opentae.data.mall.beans.ShiguOrderCashback">
       UPDATE shigu_order_cashback SET shigu_order_cashback.end_time=#{endTime}
               WHERE shigu_order_cashback.c_id=#{cId};
   </update>

</mapper>