<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguGoodsTinyMapper">

    <!-- 更新旺旺信息 -->
    <update id="updateImAliwwByStoreId">
        UPDATE shigu_goods_tiny_${website}
          SET
        <if test="imAliww!=null and imAliww!=''">
            im_aliww = #{imAliww},
        </if>
        <if test="storeNum!=null and storeNum!=''">
            store_num = #{storeNum},
        </if>
            last_modify_time = now()
        WHERE
            store_id = #{storeId}
    </update>

    <!-- 批量查询 -->
    <select id="selectGoodsByIds" resultType="java.util.ArrayList">
        SELECT
            g.*
        FROM
            shigu_goods_tiny_${website} g
        WHERE
            g.goods_id IN
        <foreach collection="goodIds" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询 -->
    <select id="selectGoodsById" resultType="com.opentae.data.mall.beans.ShiguGoodsTiny">
        SELECT
          g.*
        FROM
          shigu_goods_tiny_${website} g
        WHERE
          g.goods_id = #{goodsId}
        limit 1
    </select>

    <!-- 更新close -->
    <update id="updateGoodsTinyByClose">
        UPDATE
          shigu_goods_tiny_${website}
        SET
          is_closed = #{newClosed}
        WHERE
          is_closed = #{oldClosed} AND store_id = #{shopId}
    </update>

    <!-- 修改floorId marketId -->
    <update id="updateFloorMarketByShopId">
        UPDATE
          shigu_goods_tiny_${website}
        SET
          parent_market_id = #{marketId},
          market_id = #{floorId}
        WHERE
          store_id = #{storeId}
    </update>

    <!-- 为强制同步店铺商品信息-->
    <update id="udpateGoodsModifiedForSynShop">
      UPDATE
        shigu_goods_tiny_${website}
      SET
        modified = STR_TO_DATE('1998-01-01 00:00:00', '%Y-%m-%d %H:%i:%S')
      WHERE
        store_id = #{storeId}
    </update>

    <select id="selItemsForList" resultType="com.opentae.data.mall.beans.ItemForList">
        SELECT a.goods_id as goodsId,a.pic_url as picUrl,a.title,a.store_id as storeId,
        a.pi_price_string as piPriceString,b.shop_num as storeNum,c.market_name as market
        FROM shigu_goods_tiny_${website} a,shigu_shop b,shigu_market c
        where a.store_id=b.shop_id AND a.parent_market_id=c.market_id AND
        a.goods_id IN
        <foreach collection="goodsIds" index="index" item="item" open="("
                 separator="," close=")">
        #{item}
        </foreach>

    </select>

    <select id="selSoldItemsForList" resultType="com.opentae.data.mall.beans.ItemForList">
        SELECT a.goods_id as goodsId,a.pic_url as picUrl,a.title,a.store_id as storeId,
        a.pi_price_string as piPriceString,b.shop_num as storeNum,c.market_name as market
        FROM shigu_goods_soldout_${website} a,shigu_shop b,shigu_market c
        where a.store_id=b.shop_id AND a.parent_market_id=c.market_id AND
        a.goods_id IN
        <foreach collection="goodsIds" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询商品 -->
    <select id="selectGoodsTinyListByBo" resultType="com.opentae.data.mall.beans.ShiguGoodsTiny">
        SELECT
            g.*
        FROM
            shigu_goods_tiny_${website} g
        WHERE
          1 = 1
        <if test="goodsId != null">
            AND g.goods_id = #{goodsId}
        </if>
        <if test="gtSortOrder != null">
           AND g.sort_order != #{gtSortOrder}
        </if>
        ORDER BY g.sort_order DESC
        LIMIT #{startRow},#{pageSize}
    </select>

    <!-- 查询商品数 -->
    <select id="selectGoodsTinyCountByBo" resultType="int">
        SELECT
          count(g.goods_id)
        FROM
          shigu_goods_tiny_${website} g
        WHERE
          1 = 1
        <if test="goodsId != null">
            AND g.goods_id = #{goodsId}
        </if>
        <if test="gtSortOrder != null">
            AND g.sort_order != #{gtSortOrder}
        </if>
    </select>
</mapper>