<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.daifa.interfaces.DaifaSelFinaceMapper">

    <select id="selectTodayTakeFee" resultType="java.lang.String">
--         select ifnull(sum(t.single_pi_price),0) from(
--             select
--               t1.df_order_id,
--               t1.single_pi_price
--             from
--               daifa_wait_send_order t1,
--               daifa_ggoods t2 ,
--               daifa_order t3
--             where
--               t1.take_goods_status=1
--               and t1.df_order_id=t2.df_order_id
--               and t1.df_order_id=t3.df_order_id
--               and t1.seller_id=${sellerId}
--               and t2.take_goods_date=${day}
--               and (
--                 (
--                   t3.refund_status=0
--                   and t3.return_goods_status =0
--                 )
--                 or (
--                   t3.return_goods_status !=0
--                   and (
--                     t3.return_goods_finish_time is null
--                     or date_format(t3.return_goods_finish_time,"%Y%m%d")!=${day}
--                   )
--                 )
--               )
--             GROUP BY t1.df_order_id
--         )t

        select ifnull(sum(t.single_pi_price),0) from(
            select
              df_order_id,
              single_pi_price
            from
              daifa_ggoods
            where
              take_goods_status=1
              and take_goods_date=${day}
            GROUP BY df_order_id
        )t
    </select>

    <select id="selectTodayNotTakeFee" resultType="java.lang.String">
        SELECT
          ifnull(sum(t.single_pi_price),0)
        FROM
        (
            SELECT
              *, MIN(take_goods_status) minStatus
            FROM
              daifa_ggoods_tasks
            WHERE
              create_date = ${day}
              and seller_id=${sellerId}
            GROUP BY
              df_order_id
        ) t
        WHERE
        t.minStatus =2
    </select>

    <select id="selectTodayServerFee" resultType="java.lang.String">
        SELECT
            sum(ifnull(services_fee,0))
                FROM
                    daifa_trade
                WHERE
                    seller_id =${sellerId}
                AND date_format(send_time, "%Y%m%d") =${day}

    </select>

    <select id="selectTodayPostFee" resultType="java.lang.String">
        SELECT
            ifnull(sum(express_fee),0)
        FROM
            daifa_send
        WHERE
            create_date = ${day}
        AND seller_id = ${sellerId}
    </select>

    <select id="selectTodayRefundFee" resultType="java.lang.String">
        SELECT
            IFNULL(sum(t.rf), 0)
        FROM
            (
                SELECT
                    t1.df_trade_id,
                    t1.market_name,
                    t1.store_num,
                    t1.goods_code,
                    t1.single_pi_price,
                    IFNULL (
                        return_goods_fee,
                        single_pi_price
                    ) rf
                FROM
                    daifa_order t1,
                    daifa_trade t2
                WHERE
                    (
                        date_format(
                            t1.return_goods_finish_time,
                            "%Y%m%d"
                        ) = ${day}
                        OR date_format(
                            t1.refund_finish_time,
                            "%Y%m%d"
                        ) = ${day}
                    )
                AND t1.df_trade_id = t2.df_trade_id
                AND t2.seller_id = ${sellerId}
	      ) t
    </select>

    <select id="selectTodayStockGoodsFee" resultType="java.lang.String">
        select sum(t2.goods_num*t2.single_pi_price)from daifa_after_receive_expres_stock t1,daifa_after_sale_sub t2
        where t1.relevance_status=1 and t1.df_order_id=t2.df_order_id
        and t2.after_status=4
        and t2.seller_id= ${sellerId}
        AND date_format(t1.create_time, "%Y%m%d")=${day}
    </select>

    <select id="selectTodayGoodsFee" resultType="java.lang.String">
        select sum(goods_num*single_pi_price) from daifa_ggoods_tasks t1
        where seller_id= ${sellerId}
        and t1.allocat_date = ${day}
    </select>

    <select id="selectWorkerTakeNums" resultType="com.opentae.data.daifa.custom.beans.WorkerTakeNum">
        SELECT
        t1.user_Name `name`,
        t1.daifa_worker_id workerId,
        CONCAT(t2.num,"/",t2.total_num) num,
        t2.totalPrice,
        t2.takePrice
        FROM
        daifa_worker t1,
        (
        SELECT
        daifa_worker_id,
        sum(if(take_goods_status=1,goods_num,0)) num,
        sum(goods_num) total_num,
        sum(if(take_goods_status=1,goods_num*single_pi_price,0)) takePrice,
        sum(goods_num*single_pi_price) totalPrice
        FROM
        daifa_ggoods
        WHERE
        create_date >= ${day}
        <if test="endDay!=null">
            and create_date &lt;= ${endDay}
        </if>
        AND seller_id=${sellerId}
        GROUP BY
        daifa_worker_id
        ) t2
        WHERE
        t1.daifa_worker_id = t2.daifa_worker_id
    </select>


    <select id="selectTodayPostDetail" resultType="com.opentae.data.daifa.custom.beans.TodayPostDetail">
        SELECT
            ${day} day,
            df_trade_id dfTradeId,
            express_name expressName,
            express_code expressCode,
            express_fee expressFee
        FROM
            daifa_send
        WHERE
            create_date = ${day}
        AND seller_id = ${sellerId}
        limit ${start},${end}
    </select>
    <select id="selectTodayPostDetailCount" resultType="java.lang.Integer">
        SELECT
          count(*)
        FROM
          daifa_send
        WHERE
          create_date = ${day}
        AND seller_id = ${sellerId}
    </select>

    <select id="selectStockGoods" resultType="com.opentae.data.daifa.custom.beans.StockGoods">
        SELECT
            date_format(t1.create_time, "%Y-%m-%d")inStockDay,
            t2.df_trade_id dfTradeId,
            t2.market_name marketName,
            t3.store_num storeNum,
            t3.goods_code goodsNo,
            t2.single_pi_price piPriceString

        FROM
            daifa_after_receive_expres_stock t1,
            daifa_after_sale_sub t2,
            daifa_order t3
        WHERE
            t1.relevance_status = 1
        AND t1.df_order_id = t2.df_order_id
        AND t2.df_order_id = t3.df_order_id
        AND t2.after_status = 4
        AND t2.seller_id = ${sellerId}
        AND date_format(t1.create_time, "%Y%m%d")=${day}
        limit #{start},#{end}
    </select>

    <select id="selectStockGoodsCount" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            daifa_after_receive_expres_stock t1,
            daifa_after_sale_sub t2,
            daifa_order t3
        WHERE
            t1.relevance_status = 1
        AND t1.df_order_id = t2.df_order_id
        AND t2.df_order_id = t3.df_order_id
        AND t2.after_status = 4
        AND t2.seller_id = ${sellerId}
        AND date_format(t1.create_time, "%Y%m%d")=${day}
    </select>

    <select id="selectTodayRefund" resultType="com.opentae.data.daifa.custom.beans.RefundedFee">
        SELECT
            date_format(t.rt, "%Y%m%d") refundedDay,
            t.df_trade_id dfTradeId,
            t.market_name marketName,
            t.store_num storeNum,
            t.goods_code goodsNo,
            t.single_pi_price piPriceString
        FROM
            (
                SELECT
                    t1.df_trade_id,
                    t1.market_name,
                    t1.store_num,
                    t1.goods_code,
                    t1.single_pi_price,
                    IFNULL(
                        t1.return_goods_finish_time,
                        t1.refund_finish_time
                    ) rt
                FROM
                    daifa_order t1,
                    daifa_trade t2
                WHERE
                    (
                        date_format(
                            t1.return_goods_finish_time,
                            "%Y%m%d"
                        ) = ${day}
                        OR date_format(
                            t1.refund_finish_time,
                            "%Y%m%d"
                        ) = ${day}
                    )
                AND t1.df_trade_id = t2.df_trade_id
                AND t2.seller_id = ${sellerId}
                limit #{start},#{end}
	      ) t
    </select>
    <select id="selectTodayRefundCount" resultType="java.lang.Integer">
            SELECT
                count(*)
            FROM
                daifa_order t1,
                daifa_trade t2
            WHERE
                (
                    date_format(
                        t1.return_goods_finish_time,
                        "%Y%m%d"
                    ) = ${day}
                    OR date_format(
                        t1.refund_finish_time,
                        "%Y%m%d"
                    ) = ${day}
                )
            AND t1.df_trade_id = t2.df_trade_id
            AND t2.seller_id = ${sellerId}
    </select>

    <select id="selTodayGoodsFee" resultType="java.lang.String">
        SELECT
        SUM( single_pi_price * goods_num )
        FROM
        daifa_send_order
        WHERE
        send_status = 2
        AND seller_id = ${sellerId}
        AND create_date = ${time}
    </select>

    <select id="selTodayServerFee" resultType="java.lang.String">
        SELECT
        SUM( t1.services_fee )
        FROM
        daifa_trade t1
        LEFT JOIN daifa_send t2 ON t1.df_trade_id = t2.df_trade_id
        WHERE
        t2.send_status = 2
        AND t2.seller_id = ${sellerId}
        AND t2.create_date = ${time}
    </select>


    <select id="selExpressFee" resultType="java.lang.String">
        SELECT
        SUM( express_fee )
        FROM
        daifa_send
        WHERE
        send_status = 2
        AND seller_id = ${sellerId}
        AND create_date = ${time}
    </select>

    <select id="selTodayRefundFee" resultType="java.lang.String">
    SELECT
	sum( t2.store_return_money )
    FROM
	daifa_order t1,
	daifa_after_sale_sub t2
    WHERE
	t1.return_goods_status = 2
	AND DATE_FORMAT( return_goods_finish_time, "%Y%m%d" ) = ${time}
	AND t1.df_order_id = t2.df_order_id
    </select>
</mapper>
