<!doctype html>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0">
<link href="//style.571xz.com/h5te/css/index.css" rel="stylesheet">
<body>
<script >
'';
(function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };
        if (!doc.addEventListener) return;
        recalc();
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script> 
<div class="wrapper">
    <div class="innerbox">
        <!--<h3 class="wordCon"><img src="//style.571xz.com/h5te/css/img/wordCon.png"></h3>-->
        <!--<div class="headText">-->
            <!--各位代理，即日起，电商基地、钱塘大厦、精品男装、星座女装、之江服装等市场档口新款上传地址为：“四季星座网 www.571xz.com”，原网商园不再进行更新，请各位亲相互转告，谢谢！-->
        <!--</div>-->
        <!--<h3 class="imgCon"><img src="//style.571xz.com/h5te/css/img/imgCon.png"></h3>-->
        <img src="//imgs.571xz.net/gg/publish.png">
    </div>
</div>
</style>
<script src="//style.571xz.com/global/js/jquery.js"></script>
<script src="//style.571xz.com/h5te/js/index.js"></script>

</body>
</html>