<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.GoodsFileMapper">
    <update id="replaceFileDir">
        update goods_file set file_key=replace(file_key,#{from},#{to}) where file_key LIKE '${from}%';
    </update>
</mapper>