<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguGoodsTinyMapper">

    <select id="selOnsaleGoodsInfo" resultType="com.shigu.main4.item.beans.GoodsInfoVO">
        select
        a.goods_id as itemId,
        a.title as title,
        a.pic_url as picUrl,
        a.goods_no as goodsNo,
        a.pi_price_string as piPrice,
        a.price_string as price,
        a.is_Showcase as isShowCase,
        a.created as created,
        a.web_site as webSite,
        a.is_excel_imp as isExcelImp
        <include refid="onsaleGoodsInfoSql"/>
        ORDER BY a.created DESC
        LIMIT #{start},#{size}
    </select>

    <select id="countOnsaleGoods" resultType="int">
        SELECT count(1)
        <include refid="onsaleGoodsInfoSql"/>
    </select>


    <sql id="onsaleGoodsInfoSql">
        from shigu_goods_tiny_${webSite} a
        <if test="bo.state!=null">
            ,
            <choose>
                <when test="bo.state==1">
                    goods_count_forsearch b
                </when>
                <when test="bo.state==2">
                    shigu_goods_modified b
                </when>
                <when test="bo.state==3">
                    goods_count_forsearch b
                </when>
            </choose>
        </if>

        WHERE a.store_id = #{shopId}
        <if test="bo.goodsNo!=null">
            AND a.goodsNo like concat('%',#{bo.goodsNo},'%')
        </if>
        <if test="bo.keyword!=null">
            AND a.title like concat('%',#{bo.keyword},'%')
        </if>
        <if test="bo.state!=null">
            <choose>
                <when test="bo.state==1">
                    AND a.goods_id=b.goods_id AND b.had_bigzip=0
                </when>
                <when test="bo.state==2">
                    AND a.goods_id=b.item_id AND b.has_set_price=0
                </when>
                <when test="bo.state==3">
                    AND a.goods_id=b.goods_id AND b.fabric is null
                </when>
            </choose>
        </if>
    </sql>
    <select id="selNoBigPic" resultType="int">
       select count(1) from shigu_goods_tiny_${webSite} a,goods_count_forsearch b where a.goods_id=b.goods_id and a.store_id=${shopId} and b.had_bigzip=0
    </select>
    <select id="selNoLowPrice" resultType="int">
        select count(1) from shigu_goods_tiny_${webSite} a,shigu_goods_modified b where a.goods_id=b.item_id and a.store_id=${shopId} and b.has_set_price=0
    </select>
    <select id="selNoConstituent" resultType="int">
        select count(1) from shigu_goods_tiny_${webSite} a,goods_count_forsearch b where a.goods_id=b.goods_id and a.store_id=${shopId} and b.fabric is null
    </select>
</mapper>