<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.MemberLicenseApplyMapper" >


	<!-- 权益申请 -->
	<select id="selectLicenseApplyListByBo" resultType="com.opentae.data.mall.beans.MemberLicenseApply">
		SELECT
			DISTINCT
			lp.*,u.user_name,u.login_phone
		FROM
			member_license_apply lp
				left join member_license lc on lp.user_id = lc.user_id
				left join member_user u on lp.user_id = u.user_id
				left join member_user_sub s on u.user_id = s.user_id
		WHERE
			lc.license_failure = 1
		AND lp.license_type = 1
		<if test="userId!=null">
			AND lp.user_id = #{userId}
		</if>
		<if test="userName!=null and userName!=''">
			AND s.sub_user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="mobiles !=null and mobiles !=''">
			AND lc.license_type = 4
			AND lc.context = #{mobiles}
		</if>
		<if test="applyStatus!=null">
			AND lp.apply_status = #{applyStatus}
		</if>
		ORDER BY lp.create_time DESC
		<if test="startRow!=null">
			LIMIT #{startRow},#{endRow}
		</if>
	</select>

	<!-- 权益记录数 -->
	<select id="selectLicenseApplyCountByBo" resultType="int">
		select count(a.apply_id) from (
			SELECT
				DISTINCT
				lp.apply_id
			FROM
				member_license_apply lp
				left join member_license lc on lp.user_id = lc.user_id
				left join member_user u on lp.user_id = u.user_id
				left join member_user_sub s on u.user_id = s.user_id
			WHERE
				lc.license_failure = 1
				AND lp.license_type = 1
				<if test="userId!=null">
					AND lp.user_id = #{userId}
				</if>
				<if test="userName!=null and userName!=''">
					AND s.sub_user_name like CONCAT('%',#{userName},'%')
				</if>
				<if test="mobiles !=null and mobiles !=''">
					AND lc.license_type = 4
					AND lc.context = #{mobiles}
				</if>
				<if test="applyStatus!=null">
					AND lp.apply_status = #{applyStatus}
				</if>
		) a
	</select>

</mapper>