<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.MemberUserMapper" >

	<!-- 查找用户 -->
	<select id="selectMemberByNameOrPhone" resultType="com.opentae.data.mall.beans.MemberUser">
		SELECT u.* FROM member_user u WHERE u.user_name = #{phone} or u.login_phone = #{phone}
	</select>

	<!-- 查询用户数据 -->
	<select id="selectMemberUserListByBo" resultType="com.opentae.data.mall.beans.MemberUser">
		SELECT
			u.*,GROUP_CONCAT(s.sub_user_name) as sub_user_name_groups
		FROM
			member_user u
		LEFT JOIN member_user_sub s ON u.user_id = s.user_id
		WHERE
			1 = 1
		<if test="subUserName != null and subUserName !=''">
			AND s.sub_user_name = #{subUserName}
		</if>
		<if test="userName != null and userName !=''">
			AND u.user_name = #{userName}
		</if>
		<if test="userNick != null and userNick !=''">
			AND u.user_nick = #{userNick}
		</if>
		<if test="loginPhone != null and loginPhone !=''">
			AND u.login_phone = #{loginPhone}
		</if>
		GROUP BY
			u.user_id
		ORDER BY u.reg_time DESC
		limit #{startRow},#{pageSize}
	</select>

	<!-- 查询用户数据COUNT -->
	<select id="selectMemberUserCountByBo" resultType="int">

		select count(up.id) from (
		SELECT
			u.user_id as id
		FROM
			member_user u
		LEFT JOIN member_user_sub s ON u.user_id = s.user_id
		WHERE
			1 = 1
		<if test="subUserName != null and subUserName !=''">
			AND s.sub_user_name = #{subUserName}
		</if>
		<if test="userName != null and userName !=''">
			AND u.user_name = #{userName}
		</if>
		<if test="userNick != null and userNick !=''">
			AND u.user_nick = #{userNick}
		</if>
		<if test="loginPhone != null and loginPhone !=''">
			AND u.login_phone = #{loginPhone}
		</if>
		GROUP BY
			u.user_id ) up
	</select>


</mapper>