<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mall.interfaces.ShiguGoodsCollectMapper">

    <select id="tinyGoodsCollect" resultType="com.opentae.data.mall.beans.TinyItemCollect">
        SELECT
          b.goods_id AS `id`,
          b.website AS `website`,
          a.pic_url AS `imgsrc`,
          a.price_string AS `piprice`,
          a.title AS `title`,
          CONCAT(a.parent_market_name, a.market) AS `marketname`,
          b.goods_collect_id AS `goodsCollectId`
        <include refid="tiny_goods_where"/>
        ORDER BY b.goods_collect_id DESC
        LIMIT #{start}, ${size}
    </select>
    <select id="countTinyGoodsCollect" resultType="int">
        SELECT COUNT(*)
        <include refid="tiny_goods_where"/>
    </select>
    <sql id="tiny_goods_where">
        FROM shigu_goods_tiny_${webSite} a, shigu_goods_collect b
        WHERE b.goods_id=a.goods_id AND b.website=#{webSite} AND b.user_id=#{userId} AND b.type = 1
        <if test="keyword!=null and keyword!=''">
            AND a.title like CONCAT('%','${keyword}','%' )
        </if>
    </sql>
</mapper>