blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}body{overflow-y:scroll}h1,h2,h3,h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal}code,kbd,pre,samp{font-family:courier new,courier,monospace}small{font-size:12px}ol,ul{list-style:none}a{text-decoration:none;color:#3c3c3c}a:hover{text-decoration:underline}sup{vertical-align:text-top}sub{vertical-align:text-bottom}legend{color:#000}fieldset,img{border:0}button,input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.site-nav{border-bottom:1px solid #eee;background-color:#f5f5f5;width:100%}.site-nav-bd{width:1200px;margin:auto;height:35px}.sub-dd{display:none}.site-nav-l{float:left;line-height:35px;color:#6c6c6c}.site-nav-r{height:35px;float:right}.site-nav-js dl{float:left;position:relative}.site-nav-js dt{height:35px;line-height:35px;padding:0 20px 0 10px}.site-nav-js .hover dt{background-color:#fff;height:35px;border:1px solid #ddd;border-bottom:0;border-top:0;z-index:1000;padding:0 19px 0 9px}.site-nav-l .user{float:left;margin-left:10px}.site-nav-l .user a{margin-right:6px}.site-nav-l .tbdl{color:#f60;margin-left:5px}.site-nav-js a{font-size:12px;color:#6c6c6c;text-decoration:none}.site-nav-js a:hover{color:#f60}.site-nav-js i{transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s}.site-nav-js dt i{top:16px;right:8px;width:7px;height:4px;background-position:-28px -93px;background-image:url("http://imgs.571xz.net/mall/default_fitment_logo.jpg");background-repeat:no-repeat;position:absolute;overflow:hidden}.site-nav-js .hover dt i{transform:rotate(180deg);-webkit-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}.site-nav-js .hover .sub-dd{position:absolute;border:1px solid #ddd;background:#fff;top:35px;width:75px;padding:5px 10px;z-index:999}.site-nav-js .hover .sub-dd{display:block}.site-nav-js .hover .blank{position:absolute;z-index:1001;top:33px;left:1px;width:64px;height:4px;overflow:hidden;background:#fff}.site-nav-js .hover .l-cs{width:55px;padding:0 0 5px 9px}.site-nav-r dl.spacer{width:1px;height:12px;margin-top:13px;padding:0;background:#ddd;overflow:hidden}.site-nav-r .no-xl dt{padding:0 12px}.site-nav-r .gwc em{color:#f22e00!important;font-weight:700}.site-nav-r .hover .sub li{height:28px;line-height:28px}.site-nav-r .hover .blank{width:76px}.site-nav-r .hover .scj .blank{width:64px}.site-nav-js .hover .right{right:0;width:320px;padding:10px}.site-nav-js .hover .right h5{font-family:"Microsoft YaHei","Hiragino Sans GB";font-size:12px;font-weight:700;color:#f60;margin-left:7px;line-height:26px}.site-nav-js .hover .right ul{width:100%}.site-nav-js .hover .right li{float:left;width:80px}.site-nav-js .hover .right a{display:block;line-height:28px;padding:0 5px 0 7px}.ui-page{height:60px;margin:10px 0 20px;color:#999;font-size:14px;font-weight:700;text-align:center}.ui-page-wrap{display:inline-block;*display:inline;zoom:1}.ui-page b{font-weight:400}.ui-page a{background-color:#fff;color:#3d3d3d;cursor:pointer;text-decoration:none}.ui-page a:hover{background-color:#efefef;text-decoration:underline}.ui-page a,.ui-page b{float:left}.ui-page-prev,.ui-page-next,.ui-page a,.ui-page-cur,.ui-page-info,.ui-page-skip{height:24px;width:auto;padding:6px 10px 0}.ui-page-prev,.ui-page-next,a.ui-page-prev,a.ui-page-next{padding:6px 8px 0}.ui-page-prev,.ui-page-next,.ui-page a,.ui-page-cur{border:1px solid #e5e5e5;border-left:0}.ui-page-prev{border-left:1px solid #e5e5e5!important}.ui-page-cur,b.ui-page-next,b.ui-page-prev{background-color:#efefef}.ui-page-break{border-right:1px solid #e5e5e5;padding:0 4px;line-height:32px;font-weight:700}.ui-page-num{padding-top:10px}.ui-page-skip{font-size:12px;padding-top:15px}.ui-page-skipTo{width:30px;height:20px;margin:0 4px;line-height:22px;color:#999;text-align:center;border:1px solid #ddd}.ui-page-skipBtn{margin:-2px 0 0 2px}.ui-page-s{float:right;height:21px;overflow:hidden;color:#999;font-family:\5B8B\4F53,Helvetica,sans-serif;font-size:12px}.ui-page-s-len,.ui-page-s-prev,.ui-page-s-next{float:left;display:inline;margin-left:3px}.ui-page-s-prev,.ui-page-s-next{width:19px;padding:4px 0 2px;line-height:1;font-weight:700;font-size:12px;text-align:center;background-color:#fff;border:1px solid #e5e5e5}.ui-page-s a{text-decoration:none;color:#2953a6}.ui-page-s a:hover{background-color:#efefef}.ui-page-s b{background-color:#efefef}b.ui-page-s-len{background:0;line-height:20px;font-weight:400}.ui-page-skip #sgbtn{width:40px;height:22px;color:#3d3d3d;background:#fff;border:1px solid #ddd;cursor:pointer;margin-left:5px}.footer{margin:0 auto;width:1190px;border-top:1px #ebebeb solid}.footer{padding:40px 0;text-align:center;color:#999}
.footer a{color:#666}.footer a:hover{color:#ff671d}.footer span{color:#5f5f5f;margin:0 10px}.footer-b{margin-top:10px}.footer-b a{color:#999}.footer-c{margin-top:10px}.footer-d{margin-top:10px}.footer-d a{margin-right:20px}.footer-d img{vertical-align:middle}.ali-base{display:inline-block;background:url(../images/alis.gif) no-repeat;width:20px;height:20px;background-position:-110px -2px}.online{background-position:-110px -2px}.online-t{background-position:-82px -2px}.online-t-big{width:70px;background-position:0 -2px}.online-not{background-position:-110px -22px}.online-not-big{width:70px;background-position:0 -22px}
.site-nav-js .hover .app{width:375px;padding:0}.site-nav-js .hover .right li.d2icon{width:125px;text-align:center}.site-nav-js .hover .right li.d2icon b{width:125px;font-size:14px;color:#242323;position:relative;bottom:10px}.phone-icon{display:inline-block;position:relative;top:4px;width:12px;height:16px;background:url(../images/phone.png) no-repeat -9px -7px;margin-right:5px}.site-nav-r .hover .blank-app{width:81px}.site-nav-js .hover .app .d2icon img{ width: 92px;height: 90px;}.site-nav-js .hover .app .d2icon a{padding:16px 17px;}
/*å¼¹æ¡†éƒ¨åˆ†*/
.pop{display:none ; background:#fff; border-top:2px solid #169aef;}
.pop .con{  margin: 0 auto; margin-top: 40px; text-align: center; }
.pop .btn1{ width: 100px; margin: 0 auto ; margin-bottom: 50px; margin-top: 40px;}
.pop .btn1 a{width: 100px; height:30px;  color: #fff; display: block;  background:#268CE4 ; line-height: 30px;text-align: center;vertical-align: middle; font-size: 14px; }
.pop .btn2{width: 160px;margin: 0 auto;margin-bottom: 20px;margin-top: 30px;}
.pop .btn2 a {width: 80px;height: 30px;border-radius: 3px;color: #fff;display: inline-block;background: #268CE4;line-height: 30px;text-align: center;vertical-align: middle;font-size: 12px;}
.pop .btn2 a.cal {background: #fff;color: #000;}
.pop .btn3{height: 30px;margin: 30px auto;width: 260px;}
.pop .btn3 a{display: inline-block;margin: 0 20px;width: 90px;line-height: 30px;border-radius: 2px;background: #2c90e5;color: #fff;text-align: center;text-decoration: none;}
.pop .btn3 a.cal{background: #999999}
.top-search-box{
    width: 100%;
    height: 50px;
    background: #fff;
    border-top: 1px solid #B6B4B6;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 3px 4px #cdcbcb;
    z-index: 999999;
}
.top-search-box .top-search{
    width: 1190px;
    margin: 0 auto;
}
.top-search-box .search-box{
    width: 968px;
}
.top-search-box .search-logo{
    width: 80px;
    float: left;
    padding-top: 2px;
}
.top-search-box .search-con{
    float: right;
    height: 30px;
    width: 636px;
    background: #3692E2;
    margin-top: 8px;
    padding: 2px;
}
.top-search-box .search-tab{
    width: 75px;
    height: 30px;
    background: #F6F6F6;
    position: relative;
    float: left;
}
.top-search-box .tab-search-ul{
    text-align: center;
    background: #F6F6F6;
    box-shadow: 0 0 3px #BCBABB;
}
.top-search-box .tab-search-ul li{
    line-height: 30px;
    color: #3a8ace;
    cursor: pointer;
}
.top-search-box .tab-search-ul li.cur{
    color: #000;
}
.top-search-box .tab-search-ul li.hidden{
    display: none;
}
.top-search-box .search-tab .tri-b{
    color: #CCCCCC;
    font: 20px/18px "\5b8b \4f53 ";
    height: 10px;
    position: absolute;
    right: 9px;
    top: 14px;
    width: 16px;
    font-family: simsun;
    font-weight: 700;
    pointer-events:none;
}
.top-search-box .input-con{
    width: 450px;
    height: 30px;
    background: #fff;
    float: left;
    position: relative;
}
.top-search-box .input-con input{
    width: 430px;
    padding: 6px 10px;
    border: none;
    outline: none;
}
.top-search-box .search-list{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}
.top-search-box .search-btntop{
    width: 110px;
    display: block;
    float: left;
    color: #fff;
    background: none;
    border: none;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
    letter-spacing: 2px;
    padding: 0;
}


.sp-all-nav {
    border-bottom: 1px solid #E6EAEC;
    padding: 0px 0 20px;
    position: relative;
}

.sp-all-nav .left {
    float: left;
}

.sp-all-nav .all-title {
    color: #8D8F90;
}

.sp-all-nav .next-i {
    font-style: normal;
    font-size: 14px;
    margin: 0 5px;
}

.sp-all-nav .select-con {
    height: 22px;
    position: relative;
    color: #303133;
    border-radius: 3px;
    background: #E6EAEC;
}
.sp-all-nav .select-con:hover .tri-i {
    -ms-transform: rotate(-270deg);
    /* IE 9 */
    -moz-transform: rotate(-270deg);
    /* Firefox */
    -webkit-transform: rotate(-270deg);
    /* Safari ?? Chrome */
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.select-top {
    line-height: 22px;
    padding: 0 4px;
    cursor: pointer;
}

.select-top .line {
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #fff;
    vertical-align: middle;
}

.select-top label {
    pointer-events: none;
}

.select-top .option-txt {
    margin-right: 2px;
}

.select-option {
    width: 100%;
    background: #E6EAEC;
    position: absolute;
    z-index: 8888;
    left: 0;
    top: 22px;
    max-height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-option li {
    padding: 0 0 0 4px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.select-option li a{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 85px;
    white-space: nowrap;
    display: inline-block;
}


.select-top .tri-i {
    display: inline-block;
    font-style: normal;
    text-align: center;
    transition: all 0.1s;
    margin-right: 5px;
    transform-origin: center;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -moz-transform: rotate(-90deg);
    /* Firefox */
    -webkit-transform: rotate(-90deg);
    /* Safari ?? Chrome */
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.select-top .del-i {
    display: inline-block;
    font-style: normal;
}

.sp-all-nav .search-con {
    border: 1px solid #8F9194;
    position: absolute;
    right: 0;
    top: -3px;
    padding-right: 30px;
}

.search-con input {
    border: none;
    font-size: 12px;
    width: 180px;
    padding: 5px 5px;
}

.search-con .search-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/common.png") #8F9194 no-repeat;
    background-position: 0 -160px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.sp_type_nav {
    border-top: 0;
    width: 100%;
    float: left
}

.type_section {
    width: 100%;
    border-bottom: 1px #e5e5e5 dotted;
    padding: 25px 0 10px;
    position: relative;
}

.s-title {
    /*width: 60px;*/
    /*left: 0;*/
    /*top: 25px;*/
    /*position: absolute;*/
}

.s-title span {
    float: left;
    color: #8d8f90;
}

.s-title i {
    display: inline-block;
    height: 21px;
    margin-left: -5px;
    vertical-align: middle;
    width: 21px;
    background: url(../images/icon426_01.png) no-repeat scroll
}

.s-title .selector-iocn06_30 i {
    background-position: -150px 0
}

.s-title .selector-iocn06_50011740 i {
    background-position: -54px 0
}

.selector-iocn06_16 i {
    background-position: -170px 0
}

.selector-iocn06_50008165 i {
    background-position: 0 0
}

.selector-iocn06_50006843 i {
    background-position: -27px 0
}

.selector-iocn06_50010404 i {
    background-position: -81px 0
}

.selector-iocn06_50006842 i {
    background-position: -106px 0
}

.selector-iocn06_404 i {
    width: 25px;
    background-position: -197px 8px
}

.sl-value {
    /*padding-left: 60px;*/
    width: 100%;
}

.sl-value li {
    float: left;
    margin-right: 30px;
    margin-bottom: 8px
}

.sl-value a {
    color: #666;
    height: 22px;
    display: block;
    border-bottom: 2px #F4F4F4 solid;
}

.sl-value a:hover {
    color: #ff671d;
    border-bottom: 2px #ff671d solid;
    text-decoration: none
}

.sl-value .on a {
    color: #ff671d;
    border-bottom: 2px #ff671d solid
}

.last {
    border-bottom: 0
}
.borderbox{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}