<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.photo.interfaces.ShiguPhotoWorksMapper">

    <select id="selectShiguPhotoWorks" resultType="com.shigu.photo.vo.PhotoWorksVO">
        select
            t1.works_id worksId,
            t1.pic_url picUrl,
            t1.title title,
            t2.user_id authorId,
            t2.user_name authorName,
            t2.user_type userType,
            t2.address address,
            t1.create_time createTime
        from
            shigu_photo_works t1,shigu_photo_user t2
            <if test="styleId != null">
                ,shigu_photo_works_style t3
            </if>
        where t1.author_id=t2.user_id
            <if test="userType != null">
                and t2.user_type=${userType}
            </if>
            <if test="subUserType != null">
                and t2.subUserType=${subUserType}
            </if>
            <if test="styleId != null">
                and t3.style_id=${styleId}
                and t1.works_id=t3.works_id
            </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        limit ${start},${end}
    </select>

    <select id="selectShiguPhotoWorksCount" resultType="java.lang.Integer">
        select
          count(*)
        from
        shigu_photo_works t1,shigu_photo_user t2
            <if test="styleId != null">
                ,shigu_photo_works_style t3
            </if>
            where t1.author_id=t2.user_id
            <if test="userType != null">
                and t2.user_type=${userType}
            </if>
            <if test="subUserType != null">
                and t2.subUserType=${subUserType}
            </if>
            <if test="styleId != null">
                and t3.style_id=${styleId}
                and t1.works_id=t3.works_id
            </if>
    </select>
</mapper>