<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opentae.data.mana.interfaces.ManagerPermissionMapper">


    <select id="selPermissionByUserId" resultType="com.opentae.data.mana.beans.UserPermission">
        SELECT a.user_id as userId,a.role_id as roleId,b.role_name as roleName,c.permission_id as pid,
        c.namespace as namespace,c.permission_tag as tag
        from manager_user_role a,manager_role b,manager_permission c,manager_role_permission d where a.user_id=#{userId}
        and a.role_id=b.role_id and a.role_id=d.role_id and d.permission_id=c.permission_id and b.status=1 and c.status=1
    </select>
    <select id="selPermissiontagsByroleIds" resultType="com.opentae.data.mana.beans.RolePermission">
        SELECT b.role_id as roleId,a.permission_id as permissionId,a.permission_tag as permissionTag,a.status as permissionStatus,a.parent_pid as parentPid
        ,a.permission_comment as permissionComment from manager_permission a,manager_role_permission b where b.role_id IN (${roleIds}) and a.permission_id=b.permission_id and a.status=1

    </select>

    <select id="selPermissiontagsByroleIdsAndPid" resultType="com.opentae.data.mana.beans.RolePermission">
        SELECT b.role_id as roleId,a.permission_id as permissionId,a.permission_tag as permissionTag,a.status as permissionStatus,a.parent_pid as parentPid
        ,a.permission_comment as permissionComment from manager_permission a,manager_role_permission b where b.role_id IN (${roleIds}) and a.permission_id IN (${pids}) and a.permission_id=b.permission_id and a.status=1

    </select>
    <select id="selPermissiontagsByroleTag" resultType="com.opentae.data.mana.beans.RolePermission">
        SELECT b.role_id as roleId,a.permission_id as permissionId,a.permission_tag as permissionTag,a.status as permissionStatus,a.parent_pid as parentPid
        ,a.permission_comment as permissionComment from manager_permission a,manager_role_permission b,manager_role c where b.role_id=c.role_id and c.role_tag = #{roleTag} and a.permission_id=b.permission_id and a.status=1
    </select>
</mapper>